/***CSS MAIN***/

/*===============================CSS COMMUN AUX CONTENUS DU MAIN===============================*/
/* .circleG{
    background-image: linear-gradient(to right, #1c83a3, #04baf3);
    height: 80px;
    width: 80px;
    border-radius: 70rem 70rem;
    padding-inline: 0.5rem;
    color: white;
    font-weight: 700;
    font-size:6rem;
} */
/* h1,
h2{
    position: relative;
    margin-left: 1rem;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
} */
/* .blue{
    color: #1c83a3;
}
.blue-light{
    color: #1fa6cf;
} */

.main_a_propos>p {
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
}


/*==============================A PROPOS==============================*/

.main_a_propos {
    margin-top: 10rem;
}

.bordure {
    grid-area: 1/1/2/2;
    border-radius: 4rem 3rem 0 0;
    border-top: #1c83a3 solid;
    border-right: #1c83a3 solid;
    padding: 3rem 1rem 1rem 1rem;
}

.para-primo {
    margin-block: 3rem;
}

.border {
    grid-area: 1/2;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    border-bottom: #1c83a3 solid;
    border-left: #1c83a3 solid;
    padding: 1rem;
}

.propos-grid {
    margin-inline: 0rem;
}

.propos-grid .bordure {
    text-align: justify;
}

.propos-grid p {
    margin-bottom: 1.5rem;
}

.propos-grid img {
    width: 100%;
}

/*=================================GALERIE=================================*/
/* La classe .flex enfant de la classe parent .grid */
.grid img {
    height: 100%;
    border: 1px solid var(--clr-secondary);
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    gap: 1rem;
}

.grid .flex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.flex p {
    padding-block: 1rem;
    border: 2px solid var(--clr-primary);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-image: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
}

.flex p a {
    color: var(--clr-tertiairy);
    font-weight: bold;
}

.voir {
    padding: 0.8rem 2rem;
    border-radius: 5rem;
    background-image: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
    color: #000;
    font-weight: bold;
    font-size: 1.8rem;
    transition: all 2s;
}

a.voir:hover {
    color: var(--clr-tertiairy);
}



/* Responsivité de la classe parent .grid */
@media (min-width: 780px) {
    .grid .flex {
        flex-basis: calc((100% / 2) - 1rem);
    }
}

@media (min-width: 980px) {
    .grid .flex {
        flex-basis: calc((100% / 3) - 1rem);
    }
}

/**********Css du text à afficher au hover***********/
/* .flex:hover .hidden {
    opacity: 0.8;
}

.hidden {
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-weight: 700;
    font-size: 1rem;
    opacity: 0;
    transition: all 1s;
} */